
<div class="container" id="sign-up-form">
  <div class="row">
  <h1>Get in touch with like-minded people</h1>
    <div class="col-sm-offset-4 col-sm-4">
<h3>Create, study, accomplish goals together</h3>
<marquee width="60%" direction="left" height="20px" width="50px" bgcolor="lightyellow">
<strong>Sign Up! It is Free!</strong>
</marquee>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, placeholder: 'User Name (will be shown publicly)', class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: 'Email ID', class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",placeholder: 'Password', class: 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder: 'Re-enter password', class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn sign-up-button" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
    </div>
  </div>
</div>
